@page
@model SongAndFilm.Pages.NewsModel
@{
    ViewData["Title"] = "Placements";
}
<section class="logo-container d-flex py-4 justify-content-center border-top position-relative bg-body">
    <article class="img-container d-lg-none p-4">
        <a href="index.html">
            <img src="assets/img/logo.png" alt="Logo" class="img-fluid" />
        </a>
    </article>
</section>
<section class="banner-container-placements text-center position-relative mb-4">
    <div class="banner-content-placements d-flex flex-column justify-content-center align-items-center">
        <article class="text-animation position-relative">
            <aside class="content position-absolute">
                <div class="content__container">
                    <ul class="content__container__list p-0 text-center">
                        <li class="content__container__list__item m-0">MOVIES</li>
                        <li class="content__container__list__item m-0">
                            FEATURED PLACEMENTS
                        </li>
                        <li class="content__container__list__item m-0">TV SHOWS</li>
                    </ul>
                </div>
            </aside>
        </article>
    </div>
</section>
<section class="card-container container mb-4">
    <article class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center">
            <hr class="w-50" />
        </div>
    </article>
    <!--load more-->
    <article class="card-container container clearfix">
        <div class="row d-flex flex-wrap justify-content-start">

            @foreach (var item in Model.News)
            {


                <div class="col-xs-12 col-sm-6 col-md-4 blogBox moreBox my-3">
                    <div class="item shadow-lg bg-body rounded">
                        <div class="card-placement card p-4">
                            @{
                                if (!string.IsNullOrEmpty(item.IFrameEmbed))
                                {
                                    @Html.Raw(@item.IFrameEmbed)
                                }
                                else if (!string.IsNullOrEmpty(item.ImageUrl))
                                {
                                    <img src="@item.ImageUrl"
                                         class="card-img-top mb-4"
                                         alt="@item.Title" />
                                }
                            }

                            <div class="card-body-placements">
                                <h2 class="my-4 fs-2">@item.Title</h2>
                                <p class="card-text mb-4">
                                    @item.Content
                                </p>
                                
                            </div>
                           
                        </div>
                    </div>
                </div>
            }

        </div>
    </article>
</section>